<f:layout name='Default'/>
<f:section name='main'>

	<div style='font-family: Arial;'>
		
		<a href="{logoLink}"><img src="{siteLogo}" alt=""  /></a>
		
		<br><br>
		
		<f:translate key="LLL:EXT:js_contact_form/Resources/Private/Language/locallang.xlf:tx_jscontactform_domain_model_contactform.dear.sir.madam" />
		<br><br>
		
		<f:format.printf arguments="{
			1: '<br>'  
			}">
			<f:translate key="LLL:EXT:js_contact_form/Resources/Private/Language/locallang.xlf:tx_jscontactform_domain_model_contactform.user.message_before_contact_data" /> 
		</f:format.printf>
		<br><br>
		
		<f:if condition="{mail -> f:count()} > 0">
			<table>
				<f:for each="{mail}" as="fields"  iteration="itemIteration">
					<tr>
						<td><strong><f:translate key="LLL:EXT:js_contact_form/Resources/Private/Language/locallang.xlf:tx_jscontactform_domain_model_contactform.{fields.field}" /></strong></td>
						<td>: {fields.value}</td>
					</tr>
				</f:for>
			</table>
			<br><br>
		</f:if>
			
		<f:format.printf arguments="{
			1: '<br>'  
			}">
			<f:translate key="LLL:EXT:js_contact_form/Resources/Private/Language/locallang.xlf:tx_jscontactform_domain_model_contactform.user.message_after_contact_data" /> 
		</f:format.printf>
		
		<br><br>
		
		<strong><f:translate key="LLL:EXT:js_contact_form/Resources/Private/Language/locallang.xlf:tx_jscontactform_domain_model_contactform.regards" /></strong>
		
		<br>
		
		<f:format.printf arguments="{
			1: '<br>'  
			}">
			<f:translate key="LLL:EXT:js_contact_form/Resources/Private/Language/locallang.xlf:tx_jscontactform_domain_model_contactform.regards_name" /> 
		</f:format.printf>
		
		<br><br>
		
		<f:format.printf arguments="{
			1: '<br>'  
			}">
			<f:translate key="LLL:EXT:js_contact_form/Resources/Private/Language/locallang.xlf:tx_jscontactform_domain_model_contactform.after_regards" /> 
		</f:format.printf>
		
		<br><br> 
		
		<small style="color: #797979;"><f:translate key="LLL:EXT:js_contact_form/Resources/Private/Language/locallang.xlf:tx_jscontactform_domain_model_contactform.after_regards2" /></small>
		<br><Br>
			
		<small style="color: #90a23a;"><f:translate key="LLL:EXT:js_contact_form/Resources/Private/Language/locallang.xlf:tx_jscontactform_domain_model_contactform.after_regards3" /></small>
	</div>
</f:section>