<f:layout name='Default'/>
<f:section name='main'>

	<div style='font-family: Arial;'>
		<f:translate key="LLL:EXT:js_contact_form/Resources/Private/Language/locallang.xlf:tx_jscontactform_domain_model_contactform.dear.sir.madam" /> {receiverName}
		<br /><br />
		<f:format.printf arguments="{
			1: '<br />'  
			}">
			<f:translate key="LLL:EXT:js_contact_form/Resources/Private/Language/locallang.xlf:tx_jscontactform_domain_model_contactform.admin.message_before_contact_data" /> 
		</f:format.printf>
		<br /><br />
		<f:if condition="{js_contact_form_all}">
			<f:format.raw>{js_contact_form_all}</f:format.raw>
		</f:if>
		<br />
		<f:format.printf arguments="{
			1: '<br />'  
			}">
			<f:translate key="LLL:EXT:js_contact_form/Resources/Private/Language/locallang.xlf:tx_jscontactform_domain_model_contactform.admin.message_after_contact_data" /> 
		</f:format.printf>
		<br /><br />
		<strong><f:translate key="LLL:EXT:js_contact_form/Resources/Private/Language/locallang.xlf:tx_jscontactform_domain_model_contactform.regards" /></strong>
		<br />
		{name}
	</div>
</f:section>