<f:layout name='Default'/>
<f:section name='main'>
	<f:if condition="{mail -> f:count()} > 0">
		<table>
			<f:for each="{mail}" as="data" key="fields" iteration="itemIteration">
				<tr>
					<td valign="top"><strong><f:translate key="LLL:EXT:js_contact_form/Resources/Private/Language/locallang.xlf:tx_jscontactform_domain_model_contactform.{fields}" /></strong></td>
					<td valign="top">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
					<td valign="top"><f:if condition="{data.type}">
							<f:then>
								<f:if condition="{data.type}=='Input'">
									{data.value}
								</f:if>
								<f:if condition="{data.type}=='Textarea'">
									<f:format.html>{data.value}</f:format.html>
								</f:if>
								<f:if condition="{data.type}=='Radio'">
									<f:translate key="LLL:EXT:js_contact_form/Resources/Private/Language/locallang.xlf:tx_jscontactform_domain_model_contactform.{fields}.{data.value}" />
								</f:if>
								<f:if condition="{data.type}=='Check'">
									<f:translate key="LLL:EXT:js_contact_form/Resources/Private/Language/locallang.xlf:tx_jscontactform_domain_model_contactform.{fields}.{data.value}" />
								</f:if>
								<f:if condition="{data.type}=='File'">
									{data.value}
								</f:if>
								<f:if condition="{data.type}=='Date'">
									{data.value}
								</f:if>
							</f:then>
							<f:else>
								{data.value}
							</f:else>
						</f:if>
					</td>
				</tr>
			</f:for>
		</table>
	</f:if>
</f:section>