<label for="firstname">
	<f:translate key="tx_jscontactform_domain_model_contactform.firstname" />
</label><br />
	<f:form.textfield property="firstname" /><br />
<label for="lastname">
	<f:translate key="tx_jscontactform_domain_model_contactform.lastname" />
</label><br />
	<f:form.textfield property="lastname" /><br />
<label for="company">
	<f:translate key="tx_jscontactform_domain_model_contactform.company" />
</label><br />
	<f:form.textfield property="company" /><br />
<label for="url">
	<f:translate key="tx_jscontactform_domain_model_contactform.url" />
</label><br />
	<f:form.textfield property="url" /><br />
<label for="email">
	<f:translate key="tx_jscontactform_domain_model_contactform.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="phone">
	<f:translate key="tx_jscontactform_domain_model_contactform.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="fax">
	<f:translate key="tx_jscontactform_domain_model_contactform.fax" />
</label><br />
	<f:form.textfield property="fax" /><br />
<label for="address">
	<f:translate key="tx_jscontactform_domain_model_contactform.address" />
</label><br />
	<f:form.textfield property="address" /><br />
<label for="zip">
	<f:translate key="tx_jscontactform_domain_model_contactform.zip" />
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="city">
	<f:translate key="tx_jscontactform_domain_model_contactform.city" />
</label><br />
	<f:form.textfield property="city" /><br />
<label for="country">
	<f:translate key="tx_jscontactform_domain_model_contactform.country" />
</label><br />
	<f:form.textfield property="country" /><br />
<label for="message">
	<f:translate key="tx_jscontactform_domain_model_contactform.message" />
</label><br />
	<f:form.textarea property="message" cols="40" rows="15" /><br />
<label for="contactDate">
	<f:translate key="tx_jscontactform_domain_model_contactform.contact_date" />
</label><br />
	<f:form.textfield property="contactDate"  value="{contactForm.contactDate->f:format.date()}" /><br />
<label for="ip">
	<f:translate key="tx_jscontactform_domain_model_contactform.ip" />
</label><br />
	<f:form.textfield property="ip" /><br />
<label for="useragent">
	<f:translate key="tx_jscontactform_domain_model_contactform.useragent" />
</label><br />
	<f:form.textfield property="useragent" /><br />