<table class="tx-js-contact-form" >
	<tr>
		<td>
			<f:translate key="tx_jscontactform_domain_model_contactform.firstname" />
		</td>
		<td>
			{contactForm.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jscontactform_domain_model_contactform.lastname" />
		</td>
		<td>
			{contactForm.lastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jscontactform_domain_model_contactform.company" />
		</td>
		<td>
			{contactForm.company}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jscontactform_domain_model_contactform.url" />
		</td>
		<td>
			{contactForm.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jscontactform_domain_model_contactform.email" />
		</td>
		<td>
			{contactForm.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jscontactform_domain_model_contactform.phone" />
		</td>
		<td>
			{contactForm.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jscontactform_domain_model_contactform.address" />
		</td>
		<td>
			{contactForm.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jscontactform_domain_model_contactform.zip" />
		</td>
		<td>
			{contactForm.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jscontactform_domain_model_contactform.city" />
		</td>
		<td>
			{contactForm.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jscontactform_domain_model_contactform.country" />
		</td>
		<td>
			{contactForm.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jscontactform_domain_model_contactform.message" />
		</td>
		<td>
			{contactForm.message}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jscontactform_domain_model_contactform.contact_date" />
		</td>
		<td>
			{contactForm.contactDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jscontactform_domain_model_contactform.ip" />
		</td>
		<td>
			{contactForm.ip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jscontactform_domain_model_contactform.useragent" />
		</td>
		<td>
			{contactForm.useragent}
		</td>
	</tr>
</table>